@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


html {
    background-color: hsl(212, 45%, 89%);
    text-wrap: wrap;
}
.container {
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    display: block;
    margin: 0 auto;
    text-align: center;
}

#qr_code {
    border-radius: 20px;
    width: 200px;

}

.head-text {
    font-size: 15px;
    font-weight: 700;
    font-family: "Outfit", sans-serif;
    text-align: center;
    text-wrap: wrap;
    
}

.body-text {
    font-size: 15px;
    font-weight: 400;
    font-family: "Outfit", sans-serif;
    text-align: center;
    text-wrap: wrap;
}